$black: #000000;
$grey: #ececec;
$orange: #ffa000;
$orange-light: #fca91e;
$orange-dark: #e79101;


// если верстается desktop first
$desktop-width: "min-width: 1200px";
$tablet-width: "min-width: 768px" and "max-width: 1199px";
$mobile-width: "max-width: 767px";
