$black: #000000;
$grey: #ececec;
$orange: #ffa000;
$orange-light: #fca91e;
$orange-dark: #e79101;


// при mobile-first
$mobile-width-only: "(max-width: 767px)";
$tablet-width: "min-width: 768px";
$desktop-width: "min-width: 1200px";

// desktop-first
$desktop-width: "min-width: 1200px";
$tablet-width: "min-width: 768px" and "max-width: 1199px";
$mobile-width: "max-width: 767px";
