.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  background: $orange;
  padding: 15px 60px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  color: $black;
  font-size: 20px;


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
