@import "base/__normalize.scss";
@import "base/__variable.scss";

@import "base/mixins.scss";

@import "base/buttons.scss";
@import "base/forms.scss";
@import "base/popup.scss";

// подключение анимации
@import "animate.min.scss";


// подключение всех стилей

@import "components/footer.scss";
@import "components/header.scss";

@import "components/advantage-block.scss";
@import "components/costs.scss";
@import "components/map.scss";
@import "components/order.scss";
@import "components/promo.scss";
@import "components/work.scss";



body {
  background: white;
  margin: 0px;
  padding: 0px;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
  color: #1d1d1b;
  text-transform: none;
  @media ($tablet-width) {
    min-width: 768px;
  }
  @media ($mobile-width) {
    min-width: 320px;
    font-size: 15px;
  }
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;

  @media ($tablet-width) {
    width: 768px;
    padding: 0 15px;
  }
  @media ($mobile-width) {
    width: 320px;
    padding: 0 10px;
  }

  &--promo {
    padding: 160px 200px 240px 400px;
    @media ($tablet-width) {
      padding: 140px 40px 240px 300px;
    }
    @media ($mobile-width) {
      padding: 40px 15px 100px 120px;
    }
  }

  &--costs {
    padding: 0 220px 100px 220px;
    position: relative;
    @media ($tablet-width) {
      padding: 0 15px;
      padding-bottom: 80px;
    }
    @media ($mobile-width) {
      padding: 0 10px;
    }
  }

  &--work {
    padding: 0 90px;
    position: relative;
    @media ($tablet-width) {
      padding: 0 15px;
    }
    @media ($mobile-width) {
      padding: 0 10px;
    }
  }

  &--map {
    position: relative;
    padding: 80px 100px;
    @media ($tablet-width) {
      padding: 60px 0px;
    }
    @media ($mobile-width) {
      padding: 60px 10px;
      padding-top: 220px;
    }
  }
}

h1, h2, p {
  margin: 0;
}

ul {
  padding: 0;
}
