.advantage-block {
  background-image: url("../img/advantage-bg.jpg");
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 180px;
}
