.advantage-block {
  background-image: url("../img/advantage-bg.jpg");
  background-color: $grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 180px;

  @media ($tablet-width) {
    background-image: url("../img/advantage-bg-tablet.jpg");
    padding-top: 100px;
  }

  @media ($mobile-width) {
    background-image: url("../img/advantage-bg-mobile.jpg");
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 90px;
    @media ($tablet-width) {
      padding-bottom: 20px;
    }
    @media ($mobile-width) {
      font-size: 19px;
    }
  }
}

.advantages {
  font-size: 0;
  text-align: center;
}

.advantage {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  width: 255px;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @media ($tablet-width) {
    margin-right: 0;
    padding-top: 70px;
    &:nth-child(odd) {
      margin-right: 70px;
    }
  }

  @media ($mobile-width) {
    margin-right: 0px;
    padding-top: 40px;
    font-size: 17px;
    &:nth-child(odd) {
      margin-right: 0px;
    }
  }

  &__icon {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    @media ($tablet-width) {
      margin-bottom: 20px;
    }

    &:before {
      position: absolute;
      content: "";
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &--cash-register:before {
      background: url("../img/icon-cash-register.png") no-repeat;
      width: 75px;
      height: 56px;
    }

    &--bus:before {
      background: url("../img/icon-bus.png") no-repeat;
      width: 83px;
      height: 49px;
    }

    &--clock:before {
      background: url("../img/icon-clock.png") no-repeat;
      width: 74px;
      height: 63px;
    }

    &--monitor:before {
      background: url("../img/icon-monitor.png") no-repeat;
      width: 73px;
      height: 64px;
    }


  }
}
