.footer {
  background: $black;
  color: #818080;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 18px;

  @media ($mobile-width) {
    font-size: 17px;
    text-align: center;
  }


  &__line {
    @include clearfix;
    padding-top: 30px;
  }

  &__text {
    float: left;
    width: 550px;
    padding: 0;
    margin: 0;
    @media ($tablet-width) {
      width: 400px;
    }
    @media ($mobile-width) {
      float: none;
      width: 300px;
    }
  }

  &__link {
    display: block;
    float: right;
    max-width: 300px;
    text-align: right;
    text-decoration: none;
    color: $orange;
    transition: all 0.3s ease;
    padding-bottom: 3px;
    border-bottom: 1px solid $black;
    &:hover {
      color: $orange-light;
      border-bottom: 1px solid $orange-light;
    }
    &:active {
      color:  $orange-dark;
      border-bottom: 1px solid $orange-dark;
    }

    @media ($mobile-width) {
      float: none;
      text-align: center;
      margin-top: 20px;
      min-width: 100px;
    }
  }

}
