.promo {
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    width: 200%;
    height: 571px;
    background: $grey;
    position: absolute;
    top: -150px;
    left: -150px;
    z-index: -5;
    transform: rotate(-5deg);
    @media ($mobile-width) {
      height: 520px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 30px;
    position: relative;
    margin-bottom: 40px;

    span {
      font-weight: 500;
    }

    @media ($mobile-width) {
      font-size: 19px;
      margin-bottom: 20px;
    }
  }

  &__btn-block {
    text-align: right;
  }
}

.container--promo {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 80px;
    left: 150px;
    width: 242px;
    height: 550px;
    background: url("../img/terminal.png") no-repeat;
    @media ($tablet-width) {
      top: 60px;
      left: 50px;
    }

    @media ($mobile-width) {
      background: url("../img/terminal-mobile.png") no-repeat;
      width: 149px;
      height: 335px;
      left: 10px;
    }
  }
}
